{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block index %}
    <form action="/login" method="post" >
        <div class="container overflow-hidden text-center col-sm-5">
            <div class="row gx-5 gy-5">
                <div class="col mb-5" style="background-color:#DAD8D4;">
                    <div class="p-1 fs-1 fw-bold lh-lg" style="font-family:Trebuchet MS">This is CheapKuk</div>
                    <img src="/static/meal.png" class="figure-img img-fluid rounded" alt="...">
                    <div class="p-3 fs-5 mb-5 fh-1 reveal" style="font-family:Trebuchet MS">We specialize in offering high-quality, ready-to-cook meat products to our customers. Our products are carefully sourced from trusted suppliers and are always fresh and flavorful.

                        We understand that finding the time to shop for and prepare fresh ingredients can be a challenge, which is why we offer a wide range of ready-to-cook options. Whether you are looking for steaks, chicken breasts, pork chops, or other cuts of meat, we have something for every recipe and every occasion.

                        In addition to our meat products, we also offer recipe ideas and serving suggestions to help you get the most out of your purchases. We also have a helpful and knowledgeable customer service team available to answer any questions you may have.

                        </div>
                    <div class="p-3 fs-5 mb-5 fh-1 reveal mt-5" style="font-family:Trebuchet MS">Thank you for visiting our website. We hope you find something that you love and enjoy!</div>
                </div>
            </div>
        </div>
    </form>

    <script src="/static/scripts.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>


{% endblock %}
